a, a:hover, a:visited, a:active, a:focus {
            color: #c2973c;
        }

        .section-heading:before, .section-heading:after, .section-heading .tl, .section-heading .tr, .section-heading .br, .section-heading .bl {
            border-color: #c2973c;
        }

        .sub-heading:after, .comment-reply-title:after {
            background-color: #c2973c;
        }

        .button, .button:hover, .button:visited, .button:focus, .button:active {
            border-color: #c2973c;
            color: #c2973c;
        }

            .button.button-clear:active, .button.button-clear.active, .active > .button.button-clear {
                color: #c2973c !important;
            }

            .button:active, .button.active, .active > .button {
                background-color: #c2973c;
            }

            .button:not(.button-clear):hover, input:focus, select:focus, textarea:focus {
                -webkit-box-shadow: inset #c2973c 0 0 0 2px;
                -moz-box-shadow: inset #c2973c 0 0 0 2px;
                -ms-box-shadow: inset #c2973c 0 0 0 2px;
                -o-box-shadow: inset #c2973c 0 0 0 2px;
                box-shadow: inset #c2973c 0 0 0 2px;
            }

        .button-inverted:active {
            color: #c2973c !important;
        }

        .button-big.button-icon-left .fa, .button-big.button-icon-right .fa {
            border-color: #c2973c;
        }

        blockquote, blockquote p {
            color: #c2973c;
        }

        code, kbd, pre, tt {
            background-color: #c2973c;
        }

        input, select, textarea {
            border-color: #c2973c;
        }

        .colored, .colored:hover, .colored:visited, .colored:focus, .colored:active {
            color: #c2973c !important;
        }

        .coloredbg {
            background: #c2973c !important;
        }

        .navbar li.active > a > span, .navbar li.current-menu-ancestor > a > span {
            border-color: #c2973c;
        }

        .navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:visited, .navbar-brand:active {
            border-top-color: #c2973c;
        }

        .nav-wrapper-brand, .nav-close, .nav-close:hover, .nav-close:visited, .nav-close:active, .nav-close:focus {
            color: #c2973c;
        }

        .nav li:not(.active):not(.current-menu-ancestor) > a > span .tl:before, .nav li:not(.active):not(.current-menu-ancestor) > a > span .tl:after, .nav li:not(.active):not(.current-menu-ancestor) > a > span .br:before, .nav li:not(.active):not(.current-menu-ancestor) > a > span .br:after {
            background-color: #c2973c;
        }

        .nav > li > ul, .nav ul ul {
            border-color: #c2973c;
        }

        .nav ul li > a > span:before {
            background-color: #c2973c;
        }

        nav li.node:before {
            border-left-color: #c2973c;
        }

        .cover .one, .cover .two {
            border-color: #c2973c;
        }

        .hero-heading:before, .hero-heading:after, .hero-heading .tl, .hero-heading .tr, .hero-heading .br, .hero-heading .bl {
            border-color: #c2973c;
        }

        .hero-amp {
            color: #c2973c;
        }

            .hero-amp:before, .hero-amp:after {
                background-color: #c2973c;
            }

        .list li .bullet {
            border-color: #c2973c;
        }

        .datetime {
            background-color: #c2973c;
        }

            .datetime:before {
                border-right-color: #c2973c;
            }

        .skill-bar .bar {
            border-color: #c2973c;
        }

            .skill-bar .bar:before, .skill-bar .bar:after, .skill-bar .fill, .skill-bar .fill:before, .skill-bar .fill:after, .skill-bar .value {
                background-color: #c2973c;
            }

                .skill-bar .value:after {
                    border-top-color: #c2973c;
                }

        .footer-label {
            color: #c2973c;
        }

        .history, .history .icon {
            border-color: #c2973c;
        }

            .history .icon .fa {
                color: #c2973c;
            }

        .portfolio .item .overlay {
            background-color: transparent;
        }

        .portfolio .item:hover .overlay {
            background-color: #c2973c;
        }

        .portfolio .item .overlay .tile {
            background-color: #c2973c;
        }

        .blog-post .info, .blog-post-small .info, .blog-post-big .info {
            background-color: #c2973c;
        }

            .blog-post .info .arrow, .blog-post-small .info .arrow, .blog-post-big .info .arrow {
                border-top-color: #c2973c;
            }

        @media screen and (min-width: 992px) {
            :not(.has-sidebar) > .blog-post.on-the-left .info .arrow {
                border-left-color: #c2973c;
            }

            :not(.has-sidebar) > .blog-post.on-the-right .info .arrow {
                border-right-color: #c2973c;
            }
        }

        .expandable:before {
            border-top-color: #c2973c;
        }

        .diamond .background, .diamond .background:before, .diamond .background:after {
            background-color: #c2973c;
        }

        .author:not(body) {
            background-color: #c2973c !important;
        }

        .iconed .iconed-icon {
            color: #c2973c;
        }

        .flickr-feed-item a .hover {
            background-color: #c2973c;
        }

        .testimonials-logo a:hover img {
            background-color: #c2973c;
        }

        .testimonials-box {
            background-color: #c2973c;
        }

        .testimonials-arrow-left {
            border-top-color: #c2973c;
            border-right-color: #c2973c;
        }

        .testimonials-arrow-right {
            border-top-color: #c2973c;
            border-left-color: #c2973c;
        }

        footer .copyright p, footer .copyright a {
            color: #c2973c !important;
        }

        .dark a, body .light a, .dark a:hover, body .light a:hover, .dark a:visited, body .light a:visited, .dark a:active, body .light a:active, .dark a:focus, body .light a:focus {
            color: #c2973c;
        }

        .dark .section-heading:before, body .light .section-heading:before, .dark .section-heading:after, body .light .section-heading:after, .dark .section-heading .tl, body .light .section-heading .tl, .dark .section-heading .tr, body .light .section-heading .tr, .dark .section-heading .br, body .light .section-heading .br, .dark .section-heading .bl, body .light .section-heading .bl {
            border-color: #c2973c;
        }

        .dark .sub-heading:after, body .light .sub-heading:after, .dark .comment-reply-title:after, body .light .comment-reply-title:after {
            background-color: #c2973c;
        }

        .dark .button, body .light .button, .dark .button:hover, body .light .button:hover, .dark .button:visited, body .light .button:visited, .dark .button:focus, body .light .button:focus, .dark .button:active, body .light .button:active {
            border-color: #c2973c;
            color: #c2973c;
        }

            .dark .button.button-clear:active, body .light .button.button-clear:active, .dark .button.button-clear.active, body .light .button.button-clear.active, .dark .active > .button.button-clear, body .light .active > .button.button-clear {
                color: #c2973c !important;
            }

            .dark .button:active, body .light .button:active, .dark .button.active, body .light .button.active, .dark .active > .button, body .light .active > .button {
                background-color: #c2973c;
            }

            .dark .button:not(.button-clear):hover, body .light .button:not(.button-clear):hover, .dark input:focus, body .light input:focus, .dark select:focus, body .light select:focus, .dark textarea:focus, body .light textarea:focus {
                -webkit-box-shadow: inset #c2973c 0 0 0 2px;
                -moz-box-shadow: inset #c2973c 0 0 0 2px;
                -ms-box-shadow: inset #c2973c 0 0 0 2px;
                -o-box-shadow: inset #c2973c 0 0 0 2px;
                box-shadow: inset #c2973c 0 0 0 2px;
            }

        .dark .button-inverted:active, body .light .button-inverted:active {
            color: #c2973c !important;
        }

        .dark .button-big.button-icon-left .fa, body .light .button-big.button-icon-left .fa, .dark .button-big.button-icon-right .fa, body .light .button-big.button-icon-right .fa {
            border-color: #c2973c;
        }

        .dark blockquote, body .light blockquote, .dark blockquote p, body .light blockquote p {
            color: #c2973c;
        }

        .dark code, body .light code, .dark kbd, body .light kbd, .dark pre, body .light pre, .dark tt, body .light tt {
            background-color: #c2973c;
        }

        .dark input, body .light input, .dark select, body .light select, .dark textarea, body .light textarea {
            border-color: #c2973c;
        }

        .dark .colored, body .light .colored, .dark .colored:hover, body .light .colored:hover, .dark .colored:visited, body .light .colored:visited, .dark .colored:focus, body .light .colored:focus, .dark .colored:active, body .light .colored:active {
            color: #c2973c !important;
        }

        .dark .coloredbg, body .light .coloredbg {
            background: #c2973c !important;
        }

        .dark .navbar li.active > a > span, body .light .navbar li.active > a > span, .dark .navbar li.current-menu-ancestor > a > span, body .light .navbar li.current-menu-ancestor > a > span {
            border-color: #c2973c;
        }

        .dark .navbar-brand, body .light .navbar-brand, .dark .navbar-brand:hover, body .light .navbar-brand:hover, .dark .navbar-brand:focus, body .light .navbar-brand:focus, .dark .navbar-brand:visited, body .light .navbar-brand:visited, .dark .navbar-brand:active, body .light .navbar-brand:active {
            border-top-color: #c2973c;
        }

        .dark .nav-wrapper-brand, body .light .nav-wrapper-brand, .dark .nav-close, body .light .nav-close, .dark .nav-close:hover, body .light .nav-close:hover, .dark .nav-close:visited, body .light .nav-close:visited, .dark .nav-close:active, body .light .nav-close:active, .dark .nav-close:focus, body .light .nav-close:focus {
            color: #c2973c;
        }

        .dark .nav li:not(.active):not(.current-menu-ancestor) > a > span .tl:before, body .light .nav li:not(.active):not(.current-menu-ancestor) > a > span .tl:before, .dark .nav li:not(.active):not(.current-menu-ancestor) > a > span .tl:after, body .light .nav li:not(.active):not(.current-menu-ancestor) > a > span .tl:after, .dark .nav li:not(.active):not(.current-menu-ancestor) > a > span .br:before, body .light .nav li:not(.active):not(.current-menu-ancestor) > a > span .br:before, .dark .nav li:not(.active):not(.current-menu-ancestor) > a > span .br:after, body .light .nav li:not(.active):not(.current-menu-ancestor) > a > span .br:after {
            background-color: #c2973c;
        }

        .dark .nav > li > ul, body .light .nav > li > ul, .dark .nav ul ul, body .light .nav ul ul {
            border-color: #c2973c;
        }

        .dark .nav ul li > a > span:before, body .light .nav ul li > a > span:before {
            background-color: #c2973c;
        }

        .dark nav li.node:before, body .light nav li.node:before {
            border-left-color: #c2973c;
        }

        .dark .cover .one, body .light .cover .one, .dark .cover .two, body .light .cover .two {
            border-color: #c2973c;
        }

        .dark .hero-heading:before, body .light .hero-heading:before, .dark .hero-heading:after, body .light .hero-heading:after, .dark .hero-heading .tl, body .light .hero-heading .tl, .dark .hero-heading .tr, body .light .hero-heading .tr, .dark .hero-heading .br, body .light .hero-heading .br, .dark .hero-heading .bl, body .light .hero-heading .bl {
            border-color: #c2973c;
        }

        .dark .hero-amp, body .light .hero-amp {
            color: #c2973c;
        }

            .dark .hero-amp:before, body .light .hero-amp:before, .dark .hero-amp:after, body .light .hero-amp:after {
                background-color: #c2973c;
            }

        .dark .list li .bullet, body .light .list li .bullet {
            border-color: #c2973c;
        }

        .dark .datetime, body .light .datetime {
            background-color: #c2973c;
        }

            .dark .datetime:before, body .light .datetime:before {
                border-right-color: #c2973c;
            }

        .dark .skill-bar .bar, body .light .skill-bar .bar {
            border-color: #c2973c;
        }

            .dark .skill-bar .bar:before, body .light .skill-bar .bar:before, .dark .skill-bar .bar:after, body .light .skill-bar .bar:after, .dark .skill-bar .fill, body .light .skill-bar .fill, .dark .skill-bar .fill:before, body .light .skill-bar .fill:before, .dark .skill-bar .fill:after, body .light .skill-bar .fill:after, .dark .skill-bar .value, body .light .skill-bar .value {
                background-color: #c2973c;
            }

                .dark .skill-bar .value:after, body .light .skill-bar .value:after {
                    border-top-color: #c2973c;
                }

        .dark .footer-label, body .light .footer-label {
            color: #c2973c;
        }

        .dark .history, body .light .history, .dark .history .icon, body .light .history .icon {
            border-color: #c2973c;
        }

            .dark .history .icon .fa, body .light .history .icon .fa {
                color: #c2973c;
            }

        .dark .portfolio .item .overlay, body .light .portfolio .item .overlay {
            background-color: transparent;
        }

        .dark .portfolio .item:hover .overlay, body .light .portfolio .item:hover .overlay {
            background-color: #c2973c;
        }

        .dark .portfolio .item .overlay .tile, body .light .portfolio .item .overlay .tile {
            background-color: #c2973c;
        }

        .dark .blog-post .info, body .light .blog-post .info, .dark .blog-post-small .info, body .light .blog-post-small .info, .dark .blog-post-big .info, body .light .blog-post-big .info {
            background-color: #c2973c;
        }

            .dark .blog-post .info .arrow, body .light .blog-post .info .arrow, .dark .blog-post-small .info .arrow, body .light .blog-post-small .info .arrow, .dark .blog-post-big .info .arrow, body .light .blog-post-big .info .arrow {
                border-top-color: #c2973c;
            }

        @media screen and (min-width: 992px) {
            .dark :not(.has-sidebar) > .blog-post.on-the-left .info .arrow, body .light :not(.has-sidebar) > .blog-post.on-the-left .info .arrow {
                border-left-color: #c2973c;
            }

            .dark :not(.has-sidebar) > .blog-post.on-the-right .info .arrow, body .light :not(.has-sidebar) > .blog-post.on-the-right .info .arrow {
                border-right-color: #c2973c;
            }
        }

        .dark .expandable:before, body .light .expandable:before {
            border-top-color: #c2973c;
        }

        .dark .diamond .background, body .light .diamond .background, .dark .diamond .background:before, body .light .diamond .background:before, .dark .diamond .background:after, body .light .diamond .background:after {
            background-color: #c2973c;
        }

        .dark .author:not(body), body .light .author:not(body) {
            background-color: #c2973c !important;
        }

        .dark .iconed .iconed-icon, body .light .iconed .iconed-icon {
            color: #c2973c;
        }

        .dark .flickr-feed-item a .hover, body .light .flickr-feed-item a .hover {
            background-color: #c2973c;
        }

        .dark .testimonials-logo a:hover img, body .light .testimonials-logo a:hover img {
            background-color: #c2973c;
        }

        .dark .testimonials-box, body .light .testimonials-box {
            background-color: #c2973c;
        }

        .dark .testimonials-arrow-left, body .light .testimonials-arrow-left {
            border-top-color: #c2973c;
            border-right-color: #c2973c;
        }

        .dark .testimonials-arrow-right, body .light .testimonials-arrow-right {
            border-top-color: #c2973c;
            border-left-color: #c2973c;
        }

        .dark footer .copyright p, body .light footer .copyright p, .dark footer .copyright a, body .light footer .copyright a {
            color: #c2973c !important;
        }